body{
    display: flex;
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: seagreen;
    flex-grow: 1;
    padding-bottom: 75px;
}

.logo{
    margin-left: 20px;
}

.right-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
    font-size: 15pt;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    
}

a{
    text-decoration: none;
    
}

.runner1, .call2a{
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: left;
}

.runner1{
    gap: 100px;
    background-color: seagreen;
}

.banner1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    max-width: 40%;
    max-height: fit-content;
    
}

.title{
    font-size: 60px;
    margin: 10px;
}

.title2{
    font-size: 35px;
    margin: 10px;
}

.text1{
    font-size: 18pt;
    margin: 10px;
    color: #03272e;
}

.img1{
    max-height: auto;
    max-width: 350px;
    border-radius: 70%;
    padding: 10px;
    margin-bottom: 30px;
    
}

button{
    padding: 10px 25px;
    border-radius: 16px;
    width: fit-content;
    font-size: 12pt;
    margin-bottom: 10pt;
}

.button1{
    background-color: brown;
    border: solid 1px black;
    color: black;
}

@media screen and (min-width:320px) and (max-width: 812px){
    .runner1{
        flex-wrap:wrap;
        gap: 30px;
    }
    .banner1{
        max-width: 55%;
    }
    .title{
        font-size: 25pt;
    }
    .text1{
        font-size: 16pt;
    }

    .img1{
        max-width: 250px;
        max-height: auto;
    }
}

.button2{
    background-color: seagreen;
    border: solid 1px black;
    color: black;
}


.img{
    width: 300px;
    height: 200px;
    border-radius: 50%;
}

.ports{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.portlist{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin: 20px

}

.cards{
    max-width: 300px;
    font-size: 18pt;
    font-weight: 500;
}

.testimonial{
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    justify-content: center;
    align-items: center;
}

.quote{
    padding:30px;
    font-size: 24pt;
    font-style: italic;
    margin-top: 45px;
    margin-bottom: 0px;
    
}
.attribution{
    display: flex;
    font-weight: bold;
    font-size: 18pt;
    margin-left: 30%;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: left;

}


.container{
    border: black solid 1px;
    padding: 15pt;
    width: 50%;
    margin: 30pt;
    background-color: brown;
    color: white;
    border-radius: 25px;
}

.text3{
    margin: 10pt;
    font-size: 20pt;
    font-weight: bold;
}

.text4{
    font-size: 18pt;
    margin: 10px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
}
