body{
    display: flex;
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: seagreen;
    flex-grow: 1;
    border: black solid 1px;
}

.logo{
    margin-left: 20px;
}

.right-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
    font-size: 15pt;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    
}

a{
    text-decoration: none;
    
}

.runner1, .call2a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.runner1{
    gap: 100px;
    background-color: seagreen;
    flex-wrap: wrap;
}

.banner1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 40%;
    
}

.title{
    font-size: 40px;
    margin: 10px;
}

.text1{
    font-size: 18pt;
    margin: 10px;
}

button{
    padding: 15px 30px;
    border-radius: 16px;
    width: fit-content;
    font-size: 12pt;
    margin-bottom: : 10pt;
}

.img1{
    max-height: auto;
    max-width: 350px;
    border-radius: 70%;
    padding: 10px;
    
}


.img{
    width: 350px;
    height: 250px;
    border-radius: 50%;
}

.ports{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.portlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin: 20px

}

.cards{
    max-width: 350px;
    font-size: 18pt;
    font-weight: 500;
}

.testimonial{
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    justify-content: center;
    align-items: center;
}

.quote{
    max-width: 36%;
    font-size: 24pt;
    font-style: italic;
    margin-top: 45px;
    margin-bottom: 0px;
    
}
.attribution{
    display: flex;
    font-weight: bold;
    font-size: 18pt;
    margin-left: 30%;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: left;

}


.call2a{
}

.container{
    border: black solid 1px;
    padding: 15pt;
    width: 50%;
    margin: 15pt;
    background-color: brown;
    color: white;
    border-radius: 25px;
}

.text3{
    margin: 10pt;
    font-size: 20pt;
    font-weight: bold;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
}